header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 200;
}
header .header-container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 10px;
}
header img {
  width: 250px;
}

.desktop-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  gap: 20px;
}
.desktop-menu form {
  display: flex;
  align-items: center;
}
.desktop-menu input {
  width: 200px;
  height: 22px;
  padding: 5px;
}
.desktop-menu ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu .up-menu, .desktop-menu .under-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.desktop-menu .under-menu {
  align-items: center;
}
.desktop-menu .under-menu a {
  color: #f75c49;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.desktop-menu .under-menu a:hover {
  color: #a83f31;
  transition: 0.2s ease-in-out;
}
.desktop-menu .under-menu button {
  width: max-content;
  font-size: 20px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 5%;
}
.burger-menu span {
  width: 100%;
  height: 4px;
  background-color: #f75c49;
  transition: 0.3s;
}

button {
  width: 80px;
  height: 35px;
  background-color: white;
  border: 2px solid #f75c49;
  color: #f75c49;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
button:hover {
  color: white;
  background-color: #f75c49;
}

.logo-mob {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1000;
  transition: 0.3s;
}
.mobile-menu.show-menu {
  display: flex;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.mobile-menu .close-menu {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.mobile-menu .close-menu::before, .mobile-menu .close-menu::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #f75c49;
  transform: translate(-50%, -50%) rotate(45deg);
}
.mobile-menu .close-menu::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.mobile-menu form {
  display: flex;
  align-items: center;
}
.mobile-menu input {
  width: 150px;
  height: 22px;
  padding: 5px;
}
.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.mobile-menu a {
  color: #f75c49;
  text-decoration: none;
}
.mobile-menu button {
  width: 80px;
  height: 35px;
  background-color: white;
  border: 2px solid #f75c49;
  color: #f75c49;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.mobile-menu button:hover {
  color: white;
  background-color: #f75c49;
}

@media screen and (max-width: 620px) {
  .desktop-menu {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .logo-mob {
    display: block;
  }
}
.line {
  max-width: 500px;
  width: 80%;
  background-color: rgb(70, 70, 70);
  height: 1px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.top-teachers {
  width: 80%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  cursor: pointer;
}
.top-teachers h1 {
  text-align: center;
}
.top-teachers .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.top-teachers .filters button {
  width: max-content;
  padding-left: 10px;
  padding-right: 10px;
}
.top-teachers .filters .filter-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-teachers .filters .filter-group label {
  font-weight: 500;
}
.top-teachers .filters .filter-group select, .top-teachers .filters .filter-group input[type=checkbox] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.top-teachers .users-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.top-teachers .users-container div {
  background-color: none;
  margin-top: 20px;
  border: solid 2px transparent;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.top-teachers .users-container div p {
  margin: 5px;
}
.top-teachers .users-container div h3 {
  margin-top: 15px;
}
.top-teachers .users-container div img {
  border-radius: 400px;
  width: 200px;
  height: 200px;
  border: solid 2px #f75c49;
}
.top-teachers .users-container div .favorite-button {
  border: none;
  font-size: 55px;
  padding: 0;
  position: absolute;
  top: -20px;
  color: #f7c949;
  right: 0;
  background-color: transparent;
}
.top-teachers .users-container div .favorite-button:hover {
  border: none;
  background-color: transparent;
  color: #f7c949;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.modal .modal-head {
  background-color: #424242;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
}
.modal .modal-head h1 {
  margin-left: 20px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.modal .modal-content {
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 1000px;
  text-align: left;
  position: relative;
}
.modal .modal-content .favorite-button {
  border: none;
  font-size: 55px;
  padding: 0;
  position: absolute;
  top: 50px;
  color: #f7c949;
  right: 0;
  background-color: transparent;
}
.modal .modal-content .favorite-button:hover {
  border: none;
  background-color: transparent;
  color: #f7c949;
}
.modal .modal-content .content-modal-info {
  display: flex;
}
.modal .modal-content .close {
  position: absolute;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  color: white;
  font-weight: 400;
}
.modal .modal-content img {
  max-width: 300px;
  width: 90%;
  margin-top: 50px;
}
.modal .modal-content .right-modal {
  margin-left: 30px;
  height: 300px;
  align-items: space-between;
  margin-top: 50px;
}
.modal .modal-content .right-modal h2 {
  font-weight: 400;
}

@media screen and (min-width: 530px) {
  .teacher {
    width: 190px;
  }
  .teacher img {
    width: 190px;
    height: 190px;
  }
}
@media screen and (max-width: 530px) {
  .teacher {
    width: 150px;
  }
  .teacher img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 630px) {
  .teachers-table {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .teachers-table h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .teachers-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .teachers-table table th, .teachers-table table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .teachers-table table th {
    background-color: #ffffff;
    border-bottom: solid 1px black;
    font-weight: 600;
  }
  .teachers-table table tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .teachers-table table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .teachers-table table tr:hover {
    background-color: #f9f9f9;
  }
  .teachers-table table th {
    cursor: pointer;
    position: relative;
  }
  .teachers-table table .sort-arrow {
    font-size: 14px;
    margin-left: 5px;
    color: #000;
  }
  .teachers-table .pagination {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  .teachers-table .pagination span {
    border-radius: 4px;
    cursor: pointer;
    color: #059f95;
  }
  .teachers-table .pagination span:hover {
    color: #014d48;
  }
}
@media screen and (max-width: 630px) {
  .teachers-table {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .teachers-table h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .teachers-table table {
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .teachers-table table th, .teachers-table table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 10px;
  }
  .teachers-table table th {
    background-color: #ffffff;
    border-bottom: solid 1px black;
    font-weight: 600;
  }
  .teachers-table table tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  .teachers-table table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .teachers-table table tr:hover {
    background-color: #f9f9f9;
  }
  .teachers-table .pagination {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
  }
  .teachers-table .pagination span {
    cursor: pointer;
    color: #059f95;
  }
  .teachers-table .pagination span:hover {
    color: #014d48;
  }
}
.favorites {
  width: 80%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.favorites h1 {
  text-align: center;
  margin-bottom: 20px;
}
.favorites .favorites-container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  position: relative;
}
.favorites .favorites-container .scroll-button {
  background-color: #f5f5f5;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.favorites .favorites-container .scroll-button:hover {
  background-color: #e0e0e0;
}
.favorites .favorites-container .favorites-list {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex: 1;
}
.favorites .favorites-container .favorites-list .favorite-item {
  min-width: 150px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.favorites .favorites-container .favorites-list .favorite-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: 2px solid #f75c49;
}
.favorites .favorites-container .favorites-list .favorite-item h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.favorites .favorites-container .favorites-list .favorite-item p {
  color: #666;
  margin: 0;
}

.pagination, .table-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
  padding: 10px 0;
}

.page-button {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  min-width: 36px;
  text-align: center;
}

.page-button:hover:not(.active, .disabled) {
  background-color: #e9ecef;
  border-color: #adb5bd;
}

.page-button.active {
  background-color: #f75c49;
  color: white;
  border-color: #f75c49;
  font-weight: bold;
}

.page-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #f8f9fa;
}

.page-button:first-child, .page-button:last-child {
  font-weight: bold;
}

.footer {
  max-width: 1100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.footer p {
  color: grey;
}
.footer .buttons-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.footer .buttons-footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10px;
}
.footer .buttons-footer ul a {
  color: #f75c49;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.footer .buttons-footer ul a:hover {
  color: #a83f31;
  transition: 0.2s ease-in-out;
}
.footer .buttons-footer button {
  width: max-content;
  font-size: 20px;
}

@media screen and (max-width: 540px) {
  .footer {
    max-width: 1100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
  .footer p {
    color: grey;
  }
  .footer .buttons-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .footer .buttons-footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
  }
  .footer .buttons-footer ul a {
    color: #f75c49;
    text-decoration: none;
    font-weight: 500;
  }
  .footer .buttons-footer button {
    width: max-content;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.pop-add {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}
.pop-add .pop-add-content {
  width: 90%;
  max-width: 500px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.pop-add .pop-add-content .pop-add-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #525252;
  border-bottom: 1px solid #ddd;
}
.pop-add .pop-add-content .pop-add-header h2 {
  margin: 0;
  font-size: 20px;
  color: white;
}
.pop-add .pop-add-content .pop-add-header h2 :hover .close {
  font-size: 24px;
  cursor: pointer;
  color: white;
}
.pop-add .pop-add-content .pop-add-header h2 :hover .close:hover {
  color: #f75c49;
}
.pop-add .pop-add-content .pop-add-body .form-group-name {
  margin-top: 20px;
}
.pop-add .pop-add-content .pop-add-body .form-group-name, .pop-add .pop-add-content .pop-add-body .form-group-spec {
  margin-bottom: 16px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.pop-add .pop-add-content .pop-add-body .form-group-name label, .pop-add .pop-add-content .pop-add-body .form-group-spec label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}
.pop-add .pop-add-content .pop-add-body .form-group-name input[type=text],
.pop-add .pop-add-content .pop-add-body .form-group-name input[type=email],
.pop-add .pop-add-content .pop-add-body .form-group-name input[type=color],
.pop-add .pop-add-content .pop-add-body .form-group-name textarea, .pop-add .pop-add-content .pop-add-body .form-group-spec input[type=text],
.pop-add .pop-add-content .pop-add-body .form-group-spec input[type=email],
.pop-add .pop-add-content .pop-add-body .form-group-spec input[type=color],
.pop-add .pop-add-content .pop-add-body .form-group-spec textarea {
  width: 96%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
.pop-add .pop-add-content .pop-add-body .form-group-name textarea, .pop-add .pop-add-content .pop-add-body .form-group-spec textarea {
  resize: vertical;
}
.pop-add .pop-add-content .pop-add-body .form-group-name .sex-options, .pop-add .pop-add-content .pop-add-body .form-group-spec .sex-options {
  display: flex;
  gap: 16px;
}
.pop-add .pop-add-content .pop-add-body .form-group-name .sex-options label, .pop-add .pop-add-content .pop-add-body .form-group-spec .sex-options label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pop-add .pop-add-content .pop-add-body .form-row {
  display: flex;
  gap: 16px;
}
.pop-add .pop-add-content .pop-add-body .form-row .form-group {
  flex: 1;
  position: relative;
}
.pop-add .pop-add-content .form-row {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.pop-add .pop-add-content .form-group-place {
  margin-bottom: 16px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.pop-add .pop-add-content .form-group-place label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}
.pop-add .pop-add-content .form-group-place input[type=text],
.pop-add .pop-add-content .form-group-place input[type=email],
.pop-add .pop-add-content .form-group-place input[type=color],
.pop-add .pop-add-content .form-group-place textarea {
  padding: 8px;
  width: 92%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
.pop-add .pop-add-content .form-group-place textarea {
  resize: vertical;
}
.pop-add .pop-add-content .form-group-place .sex-options {
  display: flex;
  gap: 16px;
}
.pop-add .pop-add-content .form-group-place .sex-options label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pop-add .pop-add-content .form-group-birth {
  margin-bottom: 16px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.pop-add .pop-add-content .form-group-birth label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}
.pop-add .pop-add-content .form-group-birth input[type=text],
.pop-add .pop-add-content .form-group-birth input[type=email],
.pop-add .pop-add-content .form-group-birth input[type=color],
.pop-add .pop-add-content .form-group-birth textarea {
  padding: 8px;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
.pop-add .pop-add-content .form-group-birth textarea {
  resize: vertical;
}
.pop-add .pop-add-content .form-group-birth .sex-options {
  display: flex;
  gap: 16px;
}
.pop-add .pop-add-content .form-group-birth .sex-options label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pop-add .pop-add-content .form-group-color {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  gap: 20px;
}
.pop-add .pop-add-content .form-group-notes {
  margin-bottom: 16px;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.pop-add .pop-add-content .form-group-notes label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}
.pop-add .pop-add-content .form-group-notes input[type=text],
.pop-add .pop-add-content .form-group-notes input[type=email],
.pop-add .pop-add-content .form-group-notes input[type=color],
.pop-add .pop-add-content .form-group-notes textarea {
  width: 96%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}
.pop-add .pop-add-content .form-group-notes textarea {
  resize: vertical;
}
.pop-add .pop-add-content .form-group-notes .sex-options {
  display: flex;
  gap: 16px;
}
.pop-add .pop-add-content .form-group-notes .sex-options label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pop-add .pop-add-content .form-row {
  display: flex;
  gap: 16px;
}
.pop-add .pop-add-content .form-row .form-group {
  flex: 1;
  border: #f75c49 solid 2px;
  position: relative;
}
.pop-add .pop-add-footer .add-button {
  padding: 8px 16px;
  background-color: white;
  color: #f75c49;
  border: 2px solid #f75c49;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.pop-add .pop-add-footer .add-button:hover {
  background-color: #f75c49;
  color: white;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*# sourceMappingURL=main.css.map */
