body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: bold;
  position: relative;
  color: white;
  text-shadow: -1px -1px 0 #f75c49, 1px 1px 0 black;
  font-size: 40px;
}

.title:hover {
  text-shadow: -2px -2px 0 #f75c49, 2px 2px 0 black;
  color: rgb(243, 243, 243);
  cursor: pointer;
}

.search-field {
  padding: 7px;
  margin-right: 10px;
  width: 200px;
}

.search-field:hover {
  width: 350px;
}

.search-btn {
  padding: 9px 14px 9px;
  background-color: white;
  color: #f75c49;
  border: 1px solid #f75c49;
  font-weight: bold;
  font-size: 12px;
}

.search-btn:hover {
  background-color: #f75c49;
  color: white;
  cursor: pointer;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
}

.menu-item {
  color: #f75c49;
  padding-right: 40px;
}

.menu-item:hover {
  color: #cf4f3e;
  cursor: pointer;
}

.add-teacher-btn {
  background-color: white;
  color: #f75c49;
  border: 1px solid #f75c49;
  padding: 10px 23px 10px;
  font-weight: bold;
  font-size: 18px;
}

.add-teacher-btn:hover {
  background-color: #f75c49;
  color: white;
  cursor: pointer;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  height: 1px;
  background-color: black;
  width: 400px;
}

h1 {
  text-align: center;
}

.teacher-filter {
  font-size: 12px;
  color: #9999a6;
}

.teacher-filter-cell {
  border-right: 1px dotted #9999a6;
  padding-left: 15px;
  padding-right: 15px;
}

.teacher-filter-cell:first-child {
  padding-left: 0px;
}

.teacher-filter-cell:last-child {
  border-right: none;
}

.filter-select {
  height: 25px;
}

.teacher-filter input {
  vertical-align: middle;
  top: -1px;
  position: relative;
}

.filter-select-label {
  padding-right: 10px;
}

.teacher-filter-cell:hover {
  color: black;
}

.load-more-btn {
  background-color: white;
  color: #f75c49;
  border: 1px solid #f75c49;
  padding: 8px 16px 8px;
  font-weight: bold;
  font-size: 14px;
}

.load-more-btn:hover {
  background-color: #f75c49;
  color: white;
  cursor: pointer;
}

.top-teacher-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: column;
  overflow-x: auto;
  max-height: 500px;
  gap: 20px;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  text-align: center;
}

.top-teacher-grid > div {
  scroll-snap-align: start;
  width: 180px;
}

.top-teacher-grid .teacher-photo-wrapper {
  position: relative;
  margin: 0 auto;
}

.top-teacher-grid .teacher-photo {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  width: 175px;
  height: 175px;
  border: 3px solid #f75c49;
  margin: 8px;
  padding-bottom: 0px;
}

.top-teacher-grid .teacher-photo:hover {
  border-color: #cf4f3e;
  cursor: pointer;
}

.top-teacher-grid img {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.top-teacher-grid .teacher-photo:hover img {
  transform: scale(1.2);
}

.filled-star {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 50px;
  color: gold;
  z-index: 2;
}

.filled-star:hover {
  cursor: pointer;
}

.teacher-name {
  font-weight: bold;
  font-size: 20px;
  margin: 8px 0;
}

.teacher-subject {
  font-size: 12px;
  color: #9999a6;
  margin: 8px 0;
}

.teacher-country {
  font-size: 10px;
  margin: 8px 0;
}

.initials {
  width: 100%;
  height: 100%;
  color: #f75c49;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.statistic-table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
  padding-bottom: 10px;
}

.statistic-table th {
  padding: 10px;
  border-bottom: 1px solid black;
  font-size: 14px;
  position: relative;
  font-weight: normal;
  padding-right: 20px;
}

.statistic-table th .sort-arrow {
  font-size: 14px;
  opacity: 0;
  margin-left: 5px;
  color: #7e89ed;
  position: absolute;
}

.statistic-table th.active {
  border-bottom: 4px solid black;
}

.statistic-table th.active .sort-arrow {
  opacity: 1;
}

.statistic-table th:hover {
  background-color: rgb(190, 191, 187);
  cursor: pointer;
}

.statistic-table td {
  padding: 10px;
  font-size: 12px;
}

.statistic-table th:first-child {
  text-align: left;
  padding-left: 30px;
}

.statistic-table td:first-child {
  text-align: left;
  padding-left: 15px;
}

.statistic-table tr:nth-child(even) {
  background-color: #f9f5f9;
}

.table-page-container {
  padding-left: 15px;
  font-size: 14px;
}

.table-page-number {
  padding-left: 10px;
  color: #1aaecf;
}

.table-page-number:hover {
  color: #1486a0;
  cursor: pointer;
}

.table-page-number.active {
  color: #1486a0;
}

.favorites-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  min-height: 250px;
}

.favorites-container > div {
  scroll-snap-align: start;
  min-width: 180px;
  flex-shrink: 0;
  text-align: center;
}

.favorites-container .teacher-photo {
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  width: 175px;
  height: 175px;
  border: 3px solid #f75c49;
  margin: 8px;
  margin-bottom: 20px;
  margin-left: 13px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.favorites-container .teacher-photo:hover img {
  transform: scale(1.2);
}

.favorites-container img {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.favorites-container .teacher-photo:hover {
  border-color: #cf4f3e;
  cursor: pointer;
}

.description-article {
  margin-top: auto;
}

.description-text {
  font-size: 14px;
}

.add-teacher-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  backdrop-filter: blur(6px);
  z-index: 99999999;
}

.add-teacher-popup-box {
  background-color: white;
  width: 450px;
  height: 700px;
  max-width: 450px;
  max-height: 700px;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  color: white;
  background-color: rgb(65, 59, 59);
}

.popup-close-btn {
  font-size: 32px;
  cursor: pointer;
}

.add-teacher-popup-form {
  padding: 20px;
  font-size: 12px;
  color: #9999a6;
}

.row {
  display: flex;
  padding-bottom: 20px;
  gap: 30px;
  align-items: center;
}

.row-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row:last-child {
  padding-bottom: 0px;
}

input[type=color] {
  width: 45px;
  height: 20px;
  padding: 3px;
  cursor: pointer;
}

.form-hint {
  font-size: 9px;
  color: #9999a6;
}

.row-content input,
.row-content select {
  padding: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.row-content textarea {
  height: 80px;
  margin-top: 5px;
  font-size: 14px;
}

.add-teacher-popup-btn {
  background-color: white;
  color: #f75c49;
  border: 1px solid #f75c49;
  padding: 10px 23px 10px;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}

.add-teacher-popup-btn:hover {
  background-color: #f75c49;
  color: white;
  cursor: pointer;
}

.radio-group {
  display: flex;
  align-items: center;
  color: black;
  position: relative;
  top: -1px;
}

.teacher-info-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  backdrop-filter: blur(6px);
  z-index: 99999999;
}

.teacher-info-popup-box {
  background-color: white;
  min-width: 700px;
  min-height: 450px;
}

.teacher-info-popup-box a {
  color: #1aaecf;
}

.teacher-info-popup-content {
  padding: 15px;
  display: flex;
  gap: 10px;
}

.teacher-info-popup-details {
  width: 100%;
}

.teacher-info-popup-top {
  display: flex;
  justify-content: space-between;
}

.teacher-info-popup-name {
  font-weight: normal;
}

.star {
  color: rgba(255, 215, 0, 0.3);
  font-size: 45px;
  cursor: pointer;
}

.star.active {
  color: rgb(255, 215, 0);
}

.teacher-info-popup-content img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.teacher-info-popup-footer {
  padding: 15px;
}

@media (max-width: 768px) {
  .top-bar-container {
    flex-direction: column;
    text-align: center;
  }
  .menu-container {
    flex-direction: column;
    text-align: center;
  }
  .menu-item {
    display: block;
    padding: 10px 0;
  }
  .top-teacher-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  .favorites-container div {
    width: 48%;
    margin-right: 2%;
  }
  .favorites-container div:nth-child(1n) {
    margin-right: 0;
  }
}


/*# sourceMappingURL=styles.css.map */
